body {
    background-color: #D4F1F4;
    background-size: 100% auto, 100% ;
    font-family: 'KoHo', sans-serif;
    color:rgb(128, 119, 119);
}  

/*
header{
    position:relative;
    margin:auto;
    text-align:center;
    padding:5px;
  
}*/

nav{
    position:relative;
    margin:auto;
    width:100%;
    height: auto;
    background:#75E6DA;
    border-radius:2rem;
}
nav ul{
    position:relative;
    margin:auto;
    width:50%;
    text-align:center;
}
nav ul li{
    display:inline-block ;
    width:24%;
    line-height: 50px;
    list-style:none;
    
}
nav ul li a{
    color:black;
    text-decoration:rgb(130, 130, 252);
    text-align:center;
    
    
}nav ul li a:hover{
    background-color: #D4F1F4;
    
}



/*probando*/
.SegundoApartado{
    position:relative;
    margin:auto;
    text-align:left;
    padding:5px;
    

}

.TercerApartado{
    position:relative;
    margin:auto;
    text-align:left;
    padding:5px;
    background-color: #75E6DA;

}


.sobremi-h1{
    font-size: 30px;
    text-align: center;
    padding: 5px;
    margin-top: 5%;
   
}
.sobremi-h2{
    font-size: 20px;
    text-align: center;
    padding: 5px;
    display: flex;
    
   
}
.TextoApartado{
    display: flex;
   
    align-items: center;
    padding: 5px;
    

}

.sobremi-perfil{
    border-radius:2rem;
    align-items: right;
    display: flex;
    width: 15%;
    height: 25%;
    margin-right: 5%;
    margin-left: 5% ;
    
    
}
.volverinicio{
   
    display: flex;
    width: 80%;
    height: 80%;
    align-items: left;
    margin-top:5px;
    margin-left: 30px;
}



/*el monstruo*/
.primerapartado{
    background-color: #75E6DA;
    position:relative;
    margin:auto;
    text-align:left;
    padding:5px;
    border-radius:2rem;
    
}
.primerapartado-h1{
    font-size: 30px;
    text-align: center;
    padding: 5px;
    margin-top: 3%;
    align-items: justify;
   
}
.primerapartado-h2{
    font-size: 20px;
    text-align: left;
    padding: 5px;
    display: flex;
    margin-top: 5%;
   
   
}
.primerapartado-p{
    display: flex;
   
    align-items: center;
    padding: 5px;
  
    

}
.TextoApartado{
    display: flex;
   
    align-items: left;
    padding: 5px;
    

}

.Proyecto1{
    
    align-items: right;
    display: flex;
    width: 50%;
    height: 50%;
    margin-right: 5%;
    margin-left: 5% ;
    border-radius:0.5em;
    
    
}
.primerapartado-winform{
    background-color: #D4F1F4;
    position:relative;
    margin:auto;
    text-align:left;
    padding:5px;
    border-radius:2rem;
}
.primerapartado-generala{

    background-color: #D4F1F4;
    position:relative;
    margin:auto;
    text-align:left;
    padding:5px;
    border-radius:2rem;

}

/*ESTILO BOTON*/
.boton {

    width: 250px;
    height: 100px;
    cursor: pointer;
    border-radius: .5em;
    background-color: cadetblue;
    
    margin-right: 5%;
    margin-bottom: 3%;
   
   
   
    
   }
   
   .boton:hover {
   
    background-color: #189AB4;
    
   }
  
   .boton p {
    text-align: center;
    font-size: 2em; 
    font-weight:bold;
    color: antiquewhite;
    line-height: 1.6em;
   }

.footer{
    background: #189AB4;
    color:black;
    
}

.footer__caption{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}

.socialmedia{
    margin-top: 24px;
    display: flex;
    margin-bottom: 10px;
    margin-left: 30px;
    justify-content: space-evenly;
    
}
